extends ../layouts/default.jade


block postHead
  script(src='/PageControllers/admin/index.js')

block pageHead
  h1 Админка
block pageHead_small
  p тут происходит магия


block content
  h4 Общее-1
  ul
    li
      a(href='/adm/users') Список пользователей
    li
      a(href='/adm/domains') Редактор доменов
  h4 Общее-2
  ul
    li
      a(target='_blank' href='http://forum.roundabout.ru/showthread.php?1402-%D0%A1%D0%B5%D1%80%D0%B2%D0%B8%D1%81-%D0%B4%D0%BB%D1%8F-%D0%BF%D0%BE%D0%B4%D0%B1%D0%BE%D1%80%D0%B0-%D0%BE%D0%B1%D0%BB%D0%B8%D0%B3%D0%B0%D1%86%D0%B8%D0%B9/page99999') ОК (обл) форум
    li
      a(target='_blank' href='http://forum.roundabout.ru/showthread.php?1745-%D0%A1%D0%B5%D1%80%D0%B2%D0%B8%D1%81-%D0%B4%D0%BB%D1%8F-%D0%BF%D0%BE%D0%B4%D0%B1%D0%BE%D1%80%D0%B0-%D0%B0%D0%BA%D1%86%D0%B8%D0%B9&p=55456/page99999') ОК (акц) форум
    li
      a(target='_blank' href='https://mongolab.com/databases/blozhik/') mongo
    li
      a(target='_blank' href='https://papertrailapp.com/events?q=program%3Aapp%2Fweb.1') papertrail
    li
      a(target='_blank' href='https://dashboard.heroku.com/apps/blozhik/') heroku
  h4 Облигации
  if (info && info.length > 0)
    +info(info)
  ul
    li
      a(href='/adm/bonds_reparse') Репарс
    li
      a(href='/adm/bonds_cache') Обнови кэш из бд
  h4 Акции
  ul
    li
      a(href='/adm/shares_updateInday') Обновить inday свечи
    li
      a(href='#' id='divupdater') Обновить дивиденды ВСЕХ тикеров
    li
      a(href='#' id='candlesupdater') Обновить ВСЕ свечи ВСЕХ тикеров
    li
      a(href='/adm/shares_cache') Общий кэш
    li
      a(href='/adm/shares_dropCache') Удалить кэш

  h4 Dev
  ul
    li
      a(href='/adm/mongodump') Mongo backup
    li
      a(href='#' id='mongorestore') Mongo restore from .tar
      form.hidden#mongorestoreUploadForm(
        action='/adm/mongorestore'
        target='form_target'
        method='post'
        enctype='multipart/form-data'
        )
        input#file(
          name='file'
          type='file'
          )
      
