extends ./layouts/default


//- 
//- ASTRA
//- http://astra.us-themes.com/shortcodes/social-links/
//- 

mixin provider(data)
  .w-socials-item(class=data.provider title=data.name)
    a.w-socials-item-link(href=data.href)
      i.fa(class=data.icon)

mixin providers(list)
  .w-socials.size_big
    .w-socials-h
      .w-socials-list
        for provider in list
          +provider(provider)

//-
//- eo ASTRA
//-




block postHead
  script(src='PageControllers/auth.js')
  style.
    form * {margin-bottom: 5px; max-width: 300px; display: block;}
    #auth h3 {margin-top: 20px; text-transform: capitalize;}
    #auth h3 a {text-transform: capitalize; border-bottom: dashed 1px #CCC;}

block content
  h1 Вход на сайт
  +providers(providers)


  div#auth
    div.registering(
      v-if='signUp'
      )
      h3.no-select {{signUpText}} | 
        a.pointer(
          v-on='click: change_vue'
          ) {{signInText}}
      form(
        role='form'
        action='/auth/register'
        method='post'
        v-el='form'
        v-on='submit: beforeRegister'
        )
        for error in errors
          +error(error)
        input(
          type='text'
          name='username'
          placeholder='Имя пользователя'
          value=form.username
          v-model='uname'
          v-class='has-error: errors.username'
          )
        input(
          type='password'
          name='password'
          placeholder='Пароль' 
          value=form.password
          v-model='pwd_1'
          v-class='has-error: errors.pwd'
          )
        input(
          type='password' 
          placeholder='Еще пароль' 
          value=form.password
          v-model='pwd_2'
          v-class='has-error: errors.pwd'
          )
        input(
          type='text' 
          name='email'
          placeholder='Email' 
          value=form.email
          v-model='email'
          v-class='has-error: errors.email'
          )
        button.g-btn.type_midnight.size_small(
          type='submit'
          v-class='disabled: hasErrors'
          )
          | Регистрация

    div.authentication(
      v-if='signIn'
      ) 
      h3.no-select
        a.pointer(
          v-on='click: change_vue'
          ) {{signUpText}}
        |  | {{signInText}}
      form(
        role='form'
        action='/auth/login'
        method='post'
        )
        for error in errors
          +error(error)
        input(
          type='text'
          name='identifier' 
          placeholder='Имя пользователя или Email' 
          value=form.identifier
          )
        input(
          type='password' 
          name='password' 
          placeholder='Пароль' 
          value=form.password
          )
        button.g-btn.type_midnight.size_small(
          type='submit'
          )
          | Вход
