extends ./layouts/default


//- 
//- ASTRA
//- http://astra.us-themes.com/shortcodes/social-links/
//- 

mixin provider(classname, href, fa, text)
  .w-socials-item(class=classname)
    a.w-socials-item-link(href=href)
      i.fa(class=fa)
    .w-socials-item-popup
      .w-socials-item-popup-h
        span.w-socials-item-popup-text #{text}

mixin providers()
  .w-socials.size_big
    .w-socials-h
      .w-socials-list
        +provider('vk',       '/auth/vkontakte', 'fa-vk',       'VKontakte')
        +provider('google',   '/auth/google',    'fa-google',   'Google')
        +provider('yandex',   '/auth/yandex',    'fa-yahoo',    'Yandex')
        +provider('mailru',   '/auth/mailru',    'fa-at',       'Mail.ru')
        +provider('twitter',  '/auth/twitter',   'fa-twitter',  'Twitter')
        +provider('facebook', '/auth/facebook',  'fa-facebook', 'Facebook')

//-
//- eo ASTRA
//-




block postHead
  script(src='PageControllers/auth.js')
  style
    | form * {margin-bottom: 5px; max-width: 300px; display: block;}
    | #auth h3 {margin-top: 20px; text-transform: capitalize;}
    | #auth h3 a {text-transform: lowercase;}
    | #auth .g-btn.disabled {opacity: 1;}

block content
  h1 Вход на сайт
  +providers()


  div#auth
    div.registering(
      v-if='signUp'
      )
      h3.no-select {{signUpText}} (
        a.pointer(
          v-on='click: change_vue'
          ) {{signInText}}
        | )
      form(
        role='form'
        action='/auth/register'
        method='post'
        v-el='form'
        v-on='submit: beforeRegister'
        )
        for error in errors
          +error(error)
        input(
          type='text'
          name='username'
          placeholder='Имя пользователя'
          value=form.username
          v-el='uname'
          v-on='keyup: updateValidation'
          v-class='has-error: errors.username'
          )
        input(
          type='password'
          name='password'
          placeholder='Пароль' 
          value=form.password
          v-el='pwd_1'
          v-on='keyup: updateValidation'
          v-class='has-error: errors.pwd'
          )
        input(
          type='password' 
          placeholder='Еще пароль' 
          value=form.password
          v-el='pwd_2'
          v-on='keyup: updateValidation'
          v-class='has-error: errors.pwd'
          )
        input(
          type='text' 
          name='email' 
          placeholder='Email' 
          value=form.email
          v-el='email'
          v-on='keyup: updateValidation'
          v-class='has-error: errors.email'
          )
        button.g-btn.type_midnight.size_small(
          type='submit'
          v-class='disabled: hasErrors'
          )
          | Регистрация

    div.authentication(
      v-if='signIn'
      ) 
      h3.no-select {{signInText}} (
        a.pointer(
          v-on='click: change_vue'
          ) {{signUpText}}
        | )
      form(
        role='form'
        action='/auth/login'
        method='post'
        )
        for error in errors
          +error(error)
        input(
          type='text'
          name='identifier' 
          placeholder='Имя пользователя или Email' 
          value=form.identifier
          )
        input(
          type='password' 
          name='password' 
          placeholder='Пароль' 
          value=form.password
          )
        button.g-btn.type_midnight.size_small(
          type='submit'
          )
          | Вход
