extends ./layouts/default.jade

block postHead
  script(src='PageControllers/bonds.js')

block content
  .l-submain
    .l-submain-h.g-html
      h1 Список

  

      div#test
      script(type='text/x-template')#cmp
        //- TODO обернуть во что-то...
        //- 
        //- preview
        //- 
        .filters-preview(v-el='preview')
          h3 Сохраненные фильтры
          ul
            li(v-repeat='filter: savedFilters')
              span(
                v-on='click: editFilter($index)'
                v-class='selected: $index == editingFilterIndex'
                style='cursor: pointer;'
                )
                |  edit 
              a(
                v-on='click: selectFilter($index)'
                v-class='selected: $index == currentFilterIndex'
                style='cursor: pointer;'
                )
                | {{filter.name}}
              span(
                v-on='click: removeFilter($index)'
                style='color: red; cursor: pointer;'
                )
                |  X
          span(
            v-on='click: addFilter'
            class='g-btn type_midnight size_small'
            )
            span Добавить
        
        //- 
        //- editor
        //- 
        .filter-editor(
          v-el='editor'
          v-if='editingFilter'
          )
          h3 {{editingFilter.name}}
          .row.isolated(
            v-repeat='condition: editingFilter.conditions'
            )
            //- выбор колонки
            select(
              v-model='condition.column'
              )
              option(
                v-repeat='column: columns'
                value='{{column.value}}'
                )
                | {{column.name}}
            //- выбор условия фильтрации
            select(
              v-model='condition.type'
              )
              option(
                v-repeat='type: getTypeOptions(condition)'
                value='{{type.value}}'
                )
                | {{type.name}}
            //- динамический компонент для ввода значения фильтрации
            div(
              v-component='{{getValuePicker(condition)}}'
              v-events='changed: valueChanged'
              v-with='target: condition'
              )
            //- удаление строки
            span(
              v-on='click: removeCondition($index)'
              style='color: red; cursor: pointer;'
              )
              |  X
          //- еще строка фильтрации
          div.isolated
            span(
              v-on='click: addCondition'
              )
              +button('иЩо')

          span(v-on='click: saveFilter')
            +button('save')
          //- span(v-on='click: test')
          //-   +button('test')
          span(v-on='click: apply()')
            +button('apply')
        .table
          table(v-el='dt')
