extends ./layouts/default.jade

//- data = {provider, name, href, icon}
mixin provider(data)
  .w-socials-item(class=data.provider title=data.name)
    a.w-socials-item-link(href=data.href)
      i.fa(class=data.icon)

//- data = {provider, name, href, icon}
mixin providerToRemove(data)
  .w-socials-item(class=data.provider title='Удалить привязку: '+data.name)
    a.w-socials-item-link(href=data.href+'/remove')
      span.fa-stack.fa-lg
        i.fa.fa-stack-1x(class=data.icon)
        i.fa.fa-close.fa-stack-2x.depth

mixin providers(list, remove)
  .providers
    .w-socials.size_big
      .w-socials-h
        .w-socials-list
          for provider in list
            if remove
              +providerToRemove(provider)
            else
              +provider(provider)



block postHead
  script(src='/PageControllers/settings.js' defer)
  style.
    .content p {margin: 10px 0px 5px 0px;}
    .tile {
      padding: 10px;
      border: solid 1px #CCC;
      border-radius: 3px;
      background: #ECF0F1;
      }
      .tile input {
        background-color: #FAFAFA;
        }
      .tile p:first-child {margin: 0px;}



block pageHead
  h1 Настройки
block pageHead_small
block breadcrumbs
  +breadcrumbs([
      {name:'Главная', href:'/'},
      {name:'Профиль', href:'/me'},
      {name:'Настройки'}
    ])

block content
  if (errors.length > 0)
    for error in errors
      +error(error)
  if (info && info.length > 0)
    +info(info)
  //- h3.mb-10.no-p Изменить свои данные
  div.tile.mb-10#edit(
    style='max-width: 350px;'
    )
    form(
      role='form'
      action='/settings/update'
      method='post'
      v-el='form'
      @submit='beforeSubmit'
      )
      p Email
        +tooltipster('Некоторые сервисы используют почту для оповещений. Их можно отключить.')
      input(
        type='text'
        name='email'
        placeholder='Email'
        value=email
        v-model='email'
        v-bind:class='{"has-error": error_email, fillMePls: email.length == 0}'
        )
      p Имя пользователя
        +tooltipster('Используется для входа на сайт без сторонних сервисов, а также как имя при комментировании. Не менее 3 символов.')
      input(
        type='text'
        name='username'
        placeholder='Имя пользователя'
        value=username
        v-model='uname'
        v-bind:class='{"has-error": error_username}'
        )
      p Пароль
        +tooltipster('Используется для входа на сайт без сторонних сервисов. Не менее 3 символов.')
      input.mb-10(
        type='password'
        name='new_password'
        placeholder='Новый пароль'
        v-model='pwd_1'
        v-bind:class='{"has-error": error_new_pwd}'
        )
      input.mb-10(
        type='password' 
        placeholder='Повторите новый пароль' 
        v-model='pwd_2'
        v-bind:class='{"has-error": error_new_pwd}'
        )
      button.g-btn.type_midnight.size_small(
        type='submit'
        v-bind:class='{disabled: hasErrors}'
        )
        | Сохранить
  h3.ib.mb-10 Привязать аккаунты
    +tooltipster({classname: 'about-attaching'})
  +providers(attachable, false)
  if (attachable.length === 0)
    +info('Все доступные аккаунты привязаны!')
  if (attached.length > 0)
    p Привязанные аккаунты можно отключить:
    +providers(attached, true)
