extends ./layouts/default.jade

block postHead
  script(src='PageControllers/settings.js')
  style.
    .content p {margin: 10px 0px 5px 0px;}

//- 
//- ASTRA
//- http://astra.us-themes.com/shortcodes/social-links/
//- 

//- data = {provider, name, href, icon}
mixin provider(data)
  .w-socials-item(class=data.provider title=data.name)
    a.w-socials-item-link(href=data.href)
      i.fa(class=data.icon)

//- data = {provider, name, href, icon}
mixin providerToRemove(data)
  .w-socials-item(class=data.provider title='Удалить привязку: '+data.name)
    a.w-socials-item-link(href=data.href+'/remove')
      span.fa-stack.fa-lg
        i.fa.fa-stack-1x(class=data.icon)
        i.fa.fa-close.fa-stack-2x.depth

mixin providers(list, remove)
  .providers
    .w-socials.size_big
      .w-socials-h
        .w-socials-list
          for provider in list
            if remove
              +providerToRemove(provider)
            else
              +provider(provider)



block content
  if (errors.length > 0 || info.length > 0)
    .message
      +close()
      for error in errors
        +error(error)
      +info(info)
  h3.mb-10.no-p Изменить свои данные
  div.tile.mb-10#edit(
    style='max-width: 350px;'
    )
    form(
      role='form'
      action='/settings/update'
      method='post'
      v-el='form'
      v-on='submit: beforeSubmit'
      )
      p Email
        +headerTooltipster('Некоторые сервисы используют почту для оповещений. Их можно отключить.')
      input(
        type='text'
        name='email'
        placeholder='Email'
        value=email
        v-model='email'
        v-class='has-error: errors.email'
        )
      p Имя пользователя
        +headerTooltipster('Используется для входа на сайт без сторонних сервисов, а также как имя при комментировании. Не менее 3 символов.')
      input(
        type='text'
        name='username'
        placeholder='Имя пользователя'
        value=username
        v-model='uname'
        v-class='has-error: errors.username'
        )
      p Пароль
        +headerTooltipster('Используется для входа на сайт без сторонних сервисов. Не менее 3 символов.')
      input.mb-10(
        type='password'
        name='new_password'
        placeholder='Новый пароль'
        v-model='pwd_1'
        v-class='has-error: errors.new_pwd'
        )
      input.mb-10(
        type='password' 
        placeholder='Повторите новый пароль' 
        v-model='pwd_2'
        v-class='has-error: errors.new_pwd'
        )
      button.g-btn.type_midnight.size_small(
        type='submit'
        v-class='disabled: hasErrors'
        )
        | Сохранить
  h3.ib.mb-10 Привязать аккаунты
    +headerTooltipster({classname: 'about-attaching'})
  +providers(attachable, false)
  if (attachable.length === 0)
    +info('Все доступные аккаунты привязаны!')
  if (attached.length > 0)
    p Привязанные аккаунты можно отключить:
    +providers(attached, true)
