extends ./layouts/default.jade

block postHead
  script(src='PageControllers/settings.js')
  style
    | p {margin: 10px 0px 5px 0px !important;}

//- 
//- ASTRA
//- http://astra.us-themes.com/shortcodes/social-links/
//- 

//- data = {provider, name, href, icon}
mixin provider(data)
  .w-socials-item(class=data.provider)
    a.w-socials-item-link(href=data.href)
      i.fa(class=data.icon)
    .w-socials-item-popup
      .w-socials-item-popup-h
        span.w-socials-item-popup-text #{data.name}

//- data = {provider, name, href, icon}
mixin providerToRemove(data)
  .w-socials-item(class=data.provider)
    a.w-socials-item-link(href=data.href+'/remove')
      span.fa-stack.fa-lg
        i.fa.fa-stack-1x(class=data.icon)
        i.fa.fa-close.fa-stack-2x.depth
    .w-socials-item-popup
      .w-socials-item-popup-h
        span.w-socials-item-popup-text #{data.name}

mixin providers(list, remove)
  .providers
    .w-socials.size_big
      .w-socials-h
        .w-socials-list
          for provider in list
            if remove
              +providerToRemove(provider)
            else
              +provider(provider)



block content
  h3.mb-10 Изменить свои данные
  div.tile#edit(
    style='max-width: 350px;'
    )
    for error in errors
      +error(error)
    +message(info)
    form(
      role='form'
      action='/settings/update'
      method='post'
      v-el='form'
      v-on='submit: beforeSubmit'
      )
      p Имя пользователя
      input(
        type='text'
        name='username'
        placeholder='Имя пользователя'
        value=username
        v-el='uname'
        v-on='keyup: updateValidation'
        v-class='has-error: errors.username'
        )
      p Email
      input(
        type='text'
        name='email'
        placeholder='Email'
        value=email
        v-el='email'
        v-on='keyup: updateValidation'
        v-class='has-error: errors.email'
        )
      p Пароль
      input.mb-10(
        type='password'
        name='new_password'
        placeholder='Новый пароль'
        v-el='pwd_1'
        v-on='keyup: updateValidation'
        v-class='has-error: errors.new_pwd'
        )
      input.mb-10(
        type='password' 
        placeholder='Повторите новый пароль' 
        v-el='pwd_2'
        v-on='keyup: updateValidation'
        v-class='has-error: errors.new_pwd'
        )
      button.g-btn.type_midnight.size_small(
        type='submit'
        v-class='disabled: hasErrors'
        )
        | Сохранить
  h3.ib(style='margin-top: 20px;') Привязать аккаунты
  +headerTooltipster('about-attaching')
  +providers(attachable, false)
  if (attached.length > 0)
    p Привязанные аккаунты можно отключить:
    +providers(attached, true)
