extends ../../layouts/default.jade

block postHead
  script(src='/PageControllers/sharesTickerEditor.js' defer)
  +PasteInlineData(['ticker', ticker])
  +PasteInlineData(['branches', branches])

  style.
    .invisible {
      visibility: hidden;
      opacity: 0;
      }
    .hidden {
      display: none;
      }
    .tab.header + .tab.header::before {
      content: '|';
      font-size: 24px;
      font-family: Serif;
      padding: 0px 10px;
      line-height: 24px;
      }
    .tab.header h3:hover {
      color: #ffa412;
      }
    .tab.header h3 {
      line-height: 24px;
      padding: 0px;
      border-bottom: dashed 1px #CCC;
      cursor: pointer;
      color: #1abc9c;
      }
    .tab.header .active {
      border-bottom: none;
      cursor: auto;
      color: inherit !important;
      }


    prop-editor {
      display: block;
      margin-bottom: 10px;
      }
      prop-editor.code input {
        max-width: 100px;
        }
      prop-editor.site input {
        max-width: 400px;
        }
    sel-editor {
      display: block;
      margin-bottom: 10px;
      }
      sel-editor select {
        max-width: 200px;
        }
    kv-editor {
      display: block;
      margin-bottom: 10px;
      }
      kv-editor button {
        margin-top: 3px !important;
        }
      kv-editor.link input.key {
        max-width: 200px;
        }
      kv-editor.link input.value {
        max-width: 400px;
        }


block pageHead
  h1 #{ticker.general.name || ticker.general.ticker}

block pageHead_small
  .no-select
block breadcrumbs
  +breadcrumbs([
      {name:'Главная', href:'/'},
      {name:'Сервисы', href:'/services'},
      {name:'Акции', href:'/services/shares'},
      {name:(ticker.general.name || ticker.general.ticker_code), href:'/services/shares/'+ticker.id},
      {name:'Редактирование'}
    ])

block content
  #shares_editor
    #tabs
      template(
        v-repeat='tab: tabs'
        )
        span.tab.header.no-select
          h3.ib(
            v-on='click: activate(tab.name)'
            v-class='active: tab.active'
            )
            | {{tab.name}}
      div.g-hr.no-select(style='margin: 0px 0px 40px 0px;')
        span.g-hr-h
      template(
        v-repeat='tab: tabs'
        )
        div.tab.body(
          v-component='{{tab.component}}'
          v-class='hidden: !tab.active'
          )





block afterAll
  
  //- 
  //- TABs
  //- 
  #info
    ul
      li
        a.mr-10(
          href='http://mfd.ru/marketdata/ticker/?id={{info.mfd_id}}'
          target='_blank'
          )
          i.fa.fa-external-link
        | MFD_id: {{info.mfd_id}}
      li
        a.mr-10(
          href='/services/shares/{{ticker.id}}/info'
          target='_blank'
          )
          i.fa.fa-external-link
        | Всего свечей: {{info.candlesCount}}
      li Крайняя daily свеча: {{info.lastDailyDate}}
      li Крайняя inday свеча: {{info.lastIndayDate}}
      li Количество сегодняшних свечей: {{info.indayCount}}
  #useful
    h4 Форумы
    template(
      v-repeat='forum: forums'
      )
      kv-editor.link(
        prop='ticker.general.forums'
        href='/general'
        editor_id='{{forum.id}}'
        key='{{forum.key}}'
        value='{{forum.value}}'
        key_ph='Название'
        value_ph='Ссылка'
        )
    button.g-btn.type_midnight.size_small(
      v-on='click: addForum'
      )
      | Добавить
    +separator()
    h4 Ссылки
    template(
      v-repeat='link: links'
      )
      kv-editor.link(
        prop='ticker.general.links'
        href='/general'
        editor_id='{{link.id}}'
        key='{{link.key}}'
        value='{{link.value}}'
        key_ph='Название'
        value_ph='Ссылка'
        )
    button.g-btn.type_midnight.size_small(
      v-on='click: addLink'
      )
      | Добавить
  #general
    //- h4 Тикер
    prop-editor.code(
      prop='ticker.general.ticker_code'
      href='/general'
      ph='код (gazp)'
      )
    //- h4 Отрасль
    sel-editor(
      prop='ticker.general.branch'
      href='/general'
      ph=''
      model='{{branches}}'
      )
    //- +separator()
    //- h3 Ссылка на отчетность
    prop-editor.site(
      prop='ticker.general.site'
      href='/general'
      ph='Сайт (а лучше ссылка на отчетность)'
      )
    +separator()
    h4 Количество акций
    prop-editor.ib(
      prop='ticker.general.shares_count'
      href='/general'
      ph='штук'
      )





  //- 
  //- ELs
  //- 

  #propEditor
    input.ib(
      type='text'
      v-model='prop_text'
      placeholder='{{ph}}'
      style='margin-right: 20px;'
      )
    button.g-btn.type_midnight.size_small(
      type='submit'
      v-class='invisible: !prop_is_modified'
      v-on='click: sendData'
      )
      | Сохранить
  
  #kvEditor
    input.key.ib(
      type='text'
      v-model='key_text'
      placeholder='{{key_ph}}'
      style='margin-right: 20px;'
      )
    input.value.ib(
      type='text'
      v-model='value_text'
      placeholder='{{value_ph}}'
      style='margin-right: 20px;'
      )
    button.g-btn.type_midnight.size_small(
      type='submit'
      v-on='click: removeData'
      style='margin-right: 20px;'
      )
      | Удалить
    button.g-btn.type_midnight.size_small(
      type='submit'
      v-class='invisible: !kv_is_modified'
      v-on='click: sendData'
      )
      | Сохранить
  
  #selEditor
    select.ib(
      v-model='curr'
      style='margin-right: 20px;'
      )
      option(
        v-repeat='opt: model'
        value='{{opt.id}}'
        )
        | {{opt.name}}
    button.g-btn.type_midnight.size_small(
      type='submit'
      v-class='invisible: !is_modified'
      v-on='click: sendData'
      )
      | Сохранить
  
