extends ../../layouts/default.jade

block postHead
  script(src='/PageControllers/sharesTickerEditor.js' defer)
  +PasteInlineData([
    'ticker', ticker
  ])
  style.
    .invisible {
      visibility: hidden;
      opacity: 0;
      }
    prop-editor {
      display: block;
      margin-bottom: 10px;
      }
      prop-editor.code input {
        max-width: 100px;
        }
      prop-editor.site input {
        max-width: 400px;
        }
    kv-editor {
      display: block;
      margin-bottom: 10px;
      }
      kv-editor button {
        margin-top: 3px !important;
        }
      kv-editor.forum input.key {
        max-width: 200px;
        }
      kv-editor.forum input.value {
        max-width: 400px;
        }


block pageHead
  h1 #{ticker.general.name || ticker.general.ticker}

block pageHead_small
  | mfd_id: #{ticker.info.mfd_id}, свечей: #{ticker.info.candlesCount} (#{ticker.info.lastDay})
  .no-select
block breadcrumbs
  +breadcrumbs([
      {name:'Главная', href:'/'},
      {name:'Сервисы', href:'/services'},
      {name:'Акции', href:'/services/shares'},
      {name:(ticker.general.name || ticker.general.ticker_code), href:'/services/shares/'+ticker.id},
      {name:'Редактирование'}
    ])

block content
  #shares_editor
    #general
      h4 Основные параметры
      prop-editor.code(
        prop='ticker.general.ticker_code'
        href='/general'
        ph='код (gazp)'
        )
      prop-editor.site(
        prop='ticker.general.site'
        href='/general'
        ph='сайт'
        )
      +separator()
      h4 Форумы
      template(
        v-repeat='forum: forums'
        )
        kv-editor.forum(
          prop='ticker.general.forums'
          href='/general'
          editor_id='{{forum.id}}'
          key='{{forum.key}}'
          value='{{forum.value}}'
          key_ph='Название'
          value_ph='Ссылка'
          )
      button.g-btn.type_midnight.size_small(
        v-on='click: addForum'
        )
        | Добавить форум
      +separator()

block afterAll
  #propEditor
    input.ib(
      type='text'
      v-model='prop_text'
      placeholder='{{ph}}'
      style='margin-right: 20px;'
      )
    button.g-btn.type_midnight.size_small(
      type='submit'
      v-class='invisible: !prop_is_modified'
      v-on='click: sendData'
      )
      | Сохранить

  #kvEditor
    input.key.ib(
      type='text'
      v-model='key_text'
      placeholder='{{key_ph}}'
      style='margin-right: 20px;'
      )
    input.value.ib(
      type='text'
      v-model='value_text'
      placeholder='{{value_ph}}'
      style='margin-right: 20px;'
      )
    button.g-btn.type_midnight.size_small(
      type='submit'
      v-on='click: removeData'
      style='margin-right: 20px;'
      )
      | Удалить
    button.g-btn.type_midnight.size_small(
      type='submit'
      v-class='invisible: !kv_is_modified'
      v-on='click: sendData'
      )
      | Сохранить


  