extends ../../layouts/default.jade

block postHead
  script(src='/PageControllers/sharesTickerEditor.js' defer)
  +PasteInlineData([
    'ticker', ticker
  ])
  style.
    .invisible {
      visibility: hidden;
      opacity: 0;
      }
    


block pageHead
  h1 #{ticker.general.name || ticker.general.ticker}

block pageHead_small
  | 
  .no-select
block breadcrumbs
  +breadcrumbs([
      {name:'Главная', href:'/'},
      {name:'Сервисы', href:'/services'},
      {name:'Акции', href:'/services/shares'},
      {name:(ticker.general.name || ticker.general.ticker_code), href:'/services/shares/'+ticker.id},
      {name:'Редактирование'}
    ])

block content
  #shares_editor
    #general
      h4 Код тикера
      input.ib(
        type='text'
        name='ticker_code'
        placeholder='moex:gazp'
        v-model='ticker_code'
        style='max-width: 100px; margin-right: 20px;'
        )
      button.g-btn.type_midnight.size_small(
        type='submit'
        v-class='invisible: !modified_ticker_code'
        v-on='click: postTickerCode'
        )
        | Сохранить
      +separator()
block afterAll
