extends ../../layouts/default.jade

block postHead
  script(src='/PageControllers/sharesTickerEditor.js' defer)
  +PasteInlineData([
    'ticker', ticker
  ])
  style.
    .invisible {
      visibility: hidden;
      opacity: 0;
      }
    prop-editor {
      display: block;
      margin-bottom: 10px;
      }
      prop-editor.code input {
        max-width: 100px;
        }
      prop-editor.site input {
        max-width: 400px;
        }


block pageHead
  h1 #{ticker.general.name || ticker.general.ticker}

block pageHead_small
  | 
  .no-select
block breadcrumbs
  +breadcrumbs([
      {name:'Главная', href:'/'},
      {name:'Сервисы', href:'/services'},
      {name:'Акции', href:'/services/shares'},
      {name:(ticker.general.name || ticker.general.ticker_code), href:'/services/shares/'+ticker.id},
      {name:'Редактирование'}
    ])

block content
  #shares_editor
    #general
      h4 Основные параметры
      prop-editor.code(
        prop='ticker.general.ticker_code'
        href='/general'
        ph='код (gazp)'
        )
      prop-editor.site(
        prop='ticker.general.site'
        href='/general'
        ph='сайт'
        )
      +separator()
      h4 Форумы


block afterAll
  #propEditor
    input.ib(
      type='text'
      v-model='prop_text'
      placeholder='{{ph}}'
      style='margin-right: 20px; margin-bottom: 10px;'
      )
    button.g-btn.type_midnight.size_small(
      type='submit'
      v-class='invisible: !prop_is_modified'
      v-on='click: sendData'
      )
      | Сохранить