extends ../../layouts/default.jade

block postHead
  script(src='/Components/VueTabs.js' defer)
  script(src='/PageControllers/sharesTickerEditor.js' defer)
  +PasteInlineData(['ticker', ticker])
  +PasteInlineData(['branches', branches])

  style.
    .divy label {width: 100px; display: inline-block;}
    .divy .g-btn {margin-right: 20px; margin-bottom: 20px;}
    .divy ul {margin-left: 0px;}
    .divy li {list-style: none;}
    .divy > div {position: relative;}
    .divy .del {position: absolute; left: 330px; top: -8px;}

    .invisible {
      visibility: hidden;
      opacity: 0;
      }
    .hidden {
      display: none;
      }

    .reports {
      width: 100%;
      }
      .reports tr th,
      .reports tr td {
        line-height: 30px;
        padding: 0px !important;
        vertical-align: middle;
        }
      .reports tr th {
        font-weight: bold;
        }
      .reports .cellRemove {
        width: 120px;
        text-align: center;
        }
      .reports .cellEdit {
        width: 170px;
        text-align: center;
        }
    
    #report table {
      width: 100%;
      }
      #report table tr:not(:last-child) {
        border-bottom: solid 1px rgba(0, 0, 0, 0.05)
        }
      #report table tr td {
        padding: 10px 0px;
        line-height: 30px;
        vertical-align: middle;
        }
      #report table tr td:first-child {
        max-width: 200px;
        }
    #report input {
      padding: 5px;
      height: 30px;
      line-height: 30px;
      }
    #report .buttons {
      text-align: right;
      margin-top: 20px;
      }
      #report h4 {
        margin-bottom: 10px;
        font-family: sans-serif;
        }
        #report h4 .roundIcon {
          font-size: 14px;
          margin-left: 5px;
          cursor: pointer;
          }
      #report h4:not(:first-child) {
        margin-top: 30px;
        }
      #report .buttons button {
        margin-left: 10px;
        }

    prop-editor {
      display: block;
      margin-bottom: 10px;
      }
      prop-editor.code input {
        max-width: 100px;
        }
      prop-editor.site input {
        max-width: 400px;
        }
      prop-editor.count input {
        max-width: 400px;
        }
    sel-editor {
      display: block;
      margin-bottom: 10px;
      }
      sel-editor select {
        max-width: 200px;
        }
    kv-editor {
      display: block;
      margin-bottom: 10px;
      }
      kv-editor button {
        margin-top: 3px !important;
        }
      kv-editor.link input.key {
        max-width: 200px;
        }
      kv-editor.link input.value {
        max-width: 400px;
        }


block pageHead
  h1 #{ticker.name}

block pageHead_small
  .no-select
block breadcrumbs
  +breadcrumbs([
      {name:'Главная', href:'/'},
      {name:'Сервисы', href:'/services'},
      {name:'Акции', href:'/services/shares'},
      {name:(ticker.name || ticker.ticker_code), href:'/services/shares/'+ticker.id},
      {name:'Редактирование'}
    ])

block content
  #shares_editor
    #tabs





block afterAll
  
  //- 
  //- TABs
  //- 
  #info
    ul
      li
        a.mr-10(
          href='http://mfd.ru/marketdata/ticker/?id={{info.mfd_id}}'
          target='_blank'
          )
          i.fa.fa-external-link
        | MFD_id: {{info.mfd_id}}
      li
        a.mr-10(
          href='/services/shares/{{ticker.id}}/info'
          target='_blank'
          )
          i.fa.fa-external-link
        | Всего свечей: {{info.candlesCount}}
      li Крайняя daily свеча: {{info.lastDailyDate}}
      li Крайняя inday свеча: {{info.lastIndayDate}}
      li Количество сегодняшних свечей: {{info.indayCount}}
  #useful
    h4 Форумы
    template(
      v-repeat='forum: forums'
      )
      kv-editor.link(
        prop='ticker.forums'
        editor_id='{{forum.id}}'
        key='{{forum.key}}'
        value='{{forum.value}}'
        key_ph='Название'
        value_ph='Ссылка'
        )
    button.g-btn.type_midnight.size_small(
      v-on='click: addForum'
      )
      | Добавить
    +separator()
    h4 Ссылки
    template(
      v-repeat='link: links'
      )
      kv-editor.link(
        prop='ticker.links'
        editor_id='{{link.id}}'
        key='{{link.key}}'
        value='{{link.value}}'
        key_ph='Название'
        value_ph='Ссылка'
        )
    button.g-btn.type_midnight.size_small(
      v-on='click: addLink'
      )
      | Добавить
  #general
    //- h4 Тикер
    prop-editor.code(
      prop='ticker.code'
      ph='код (gazp)'
      )
    //- h4 Отрасль
    sel-editor(
      prop='ticker.branch'
      ph=''
      model='{{branches}}'
      )
    //- +separator()
    //- h3 Ссылка на отчетность
    prop-editor.site(
      prop='ticker.site'
      ph='Сайт (а лучше ссылка на отчетность)'
      )
    +separator()
    h4 Количество акций
    prop-editor.count(
      prop='ticker.shares_count'
      ph='штук'
      )

  #divs
    .divy
      button.g-btn.type_midnight.size_small(
        v-on='click: add'
        )
        | Добавить
      button.g-btn.type_midnight.size_small.share_divs_save_btn(
        v-on='click: save'
        v-class='invisible: !modified'
        )
        | Сохранить
      div(
        v-repeat='div: divs'
        )
        span.del(
          v-on='click: del($index)'
          )
          +roundIcon('fa-close')
        ul
          li(v-repeat='key: keys')
            label {{key}}
            input(
              v-model='div[key]'
              v-on='keyup: changed'
              )
      button.g-btn.type_midnight.size_small(
        v-on='click: add'
        )
        | Добавить
      button.g-btn.type_midnight.size_small.share_divs_save_btn(
        v-on='click: save'
        v-class='invisible: !modified'
        )
        | Сохранить

  #reports
    h4 Интересующие параметры
    template(
      v-repeat='field: reports.fields'
      )
      kv-editor.link(
        prop='ticker.reports.fields'
        editor_id='{{field.id}}'
        key='{{field.key}}'
        value='{{field.value}}'
        key_ph='key'
        value_ph='name'
        )
    button.g-btn.type_midnight.size_small(
      v-on='click: addField'
      )
      | Добавить

    +separator()
    h4 Отчеты
    table.reports(v-if='!no_reports')
      tr
        th ID
        th Название
        th Период
        th.cellRemove
        th.cellEdit
      template(
        v-repeat='report: reports.data'
        )
        tr
          td {{report.id}}
          td {{report.name}}
          td {{report.from}} - {{report.to}}
          td.cellRemove
            button.g-btn.type_midnight.size_small(
              v-on='click: removeReport(report)'
              )
              | Удалить
          td.cellEdit
            button.g-btn.type_midnight.size_small(
              v-on='click: editReport(report)'
              )
              | Редактировать
    button.g-btn.type_midnight.size_small(
      v-on='click: addReport'
      )
      | Добавить





  //- 
  //- ELs
  //- 

  #propEditor
    input.ib(
      type='text'
      v-model='prop_text'
      placeholder='{{ph}}'
      style='margin-right: 20px;'
      )
    button.g-btn.type_midnight.size_small(
      type='submit'
      v-class='invisible: !prop_is_modified'
      v-on='click: sendData'
      )
      | Сохранить
  
  #kvEditor
    input.key.ib(
      type='text'
      v-model='key_text'
      placeholder='{{key_ph}}'
      style='margin-right: 20px;'
      )
    input.value.ib(
      type='text'
      v-model='value_text'
      placeholder='{{value_ph}}'
      style='margin-right: 20px;'
      )
    button.g-btn.type_midnight.size_small(
      type='submit'
      v-on='click: removeData'
      style='margin-right: 20px;'
      )
      | Удалить
    button.g-btn.type_midnight.size_small(
      type='submit'
      v-class='invisible: !kv_is_modified'
      v-on='click: sendData'
      )
      | Сохранить
  
  #selEditor
    select.ib(
      v-model='curr'
      style='margin-right: 20px;'
      )
      option(
        v-repeat='opt: model'
        value='{{opt.id}}'
        )
        | {{opt.name}}
    button.g-btn.type_midnight.size_small(
      type='submit'
      v-class='invisible: !is_modified'
      v-on='click: sendData'
      )
      | Сохранить
  

  #report(
    class='white-popup'
    )
    //- 
    h4 Период
      span(
        v-on='click: setLastPeriod'
        )
        +roundIcon('fa-undo')
    input.ib(
      type='text'
      v-model='name'
      placeholder='Название периода'
      style='margin-bottom: 10px;'
      v-class='has-error: bad_name'
      )
    //- 
    input.ib(
      type='text'
      v-model='from'
      v-el='dp_from'
      placeholder='Начало'
      style='max-width: 45%'
      v-class='has-error: bad_period'
      )
    span.ib(style='width: 10%; text-align: center; vertical-align: middle; line-height: 30px;') -
    input.ib(
      type='text'
      v-model='to'
      v-el='dp_to'
      placeholder='Окончание'
      style='max-width: 45%'
      v-class='has-error: bad_period'
      )
    //- 
    h4 Результаты
      span(
        v-on='click: setLastResults'
        )
        +roundIcon('fa-undo')
    table
      tr(v-repeat='field: fields')
        td
          span.ib {{field.value}}
        td
          input(
            type='text'
            v-model='data[field.key]'
            )
    .buttons
      button.g-btn.type_midnight.size_small(
        v-on='click: save'
        )
        | Сохранить
      button.g-btn.type_midnight.size_small(
        v-on='click: cancel'
        )
        | Отмена

