extends ../../layouts/default.jade

block postHead
  link(rel='stylesheet', href='/css/sharesTickerPlot.css')
  script(src="/bower_components/d3/d3.js")
  script(src="/bower_components/techan/dist/techan.js")
  //- script(src='http://nvd3-community.github.io/nvd3/build/nv.d3.js')
  script(src='/bower_components/nvd3/build/nv.d3.js')
  +PasteInlineData([
    'ticker', ticker
  ])

  script(src='/PageControllers/sharesTicker/index.js')

  style.
    #shares {min-height: 300px;}
    h3 {margin: 0px; padding-left: 3px;}
    #body .g-hr {margin-bottom: 10px !important;}





block pageHead
  h1 #{ticker.name}
    if (hasRoles(['admin', 'shares-filler']))
      a.tt(
        href='/services/shares/'+ticker.id+'/edit',
        )
        +roundIcon('fa-paw')
    if (ticker.site)
      a.tt(
        href='#{ticker.site}'
        target='_blank'
        title='Официальный сайт'
        )
        +roundIcon('fa-external-link')
    else
      +roundIcon('fa-external-link', true)
    if (tickerForums && tickerForums.length)
      - var forumsList = ''
      - forumsList += '<ul>'
      - tickerForums.forEach(function(f) {forumsList += '<li><a target="_blank" href="'+f.value+'">'+f.key+'</a></li>'})
      - forumsList += '</ul>'
      span.tt.tt_interactive.tt_html.cur-p(
        title='<p>Популярные форумы:</p>#{forumsList}'
        )
        +roundIcon('fa-comments')
    else 
        +roundIcon('fa-comments', true)
    if (tickerLinks && tickerLinks.length)
      - var linksList = ''
      - linksList += '<ul>'
      - tickerLinks.forEach(function(l) {linksList += '<li><a target="_blank" href="'+l.value+'">'+l.key+'</a></li>'})
      - linksList += '</ul>'
      span.tt.tt_interactive.tt_html.cur-p(
        title='<p>Полезные ссылки:</p>#{linksList}'
        )
        +roundIcon('fa-paperclip')
    else
      +roundIcon('fa-paperclip', true)
    if (1)
      a.tt(
        href='/'
        title='Добавить в портфель'
        )
        +roundIcon('fa-plus')
block pageHead_small
block breadcrumbs
  +breadcrumbs([
      {name:'Главная', href:'/'},
      {name:'Сервисы', href:'/services'},
      {name:'Акции', href:'/services/shares'},
      {name: ticker.name}
    ])

block content
  #shares
