mixin json(data)
  p #{JSON.stringify(data, null, 4)}

mixin error(data)
  p.error(style="color: #E74343; margin: 0px !important; font-size: 18px;") #{data}

mixin message(data)
  p.message(style="color: #138132; margin: 0px !important; font-size: 18px;") #{data}

mixin button(text)
  span(class="g-btn type_midnight size_small")
    span #{text}

mixin headerTooltipster(classname)
  i.fa.fa-question-circle.not-mobile.near-header(class=classname)
