mixin json(data)
  p #{JSON.stringify(data, null, 4)}

mixin error(data)
  .g-alert.type_error.with_close.ib.error
    .g-alert-close ✕
    .g-alert-body #{data}

mixin info(data)
  .g-alert.type_success.with_close.ib
    .g-alert-close ✕
    .g-alert-body #{data}

mixin button(text)
  span(class="g-btn type_midnight size_small")
    span #{text}

mixin tooltipster(data)
  - if (typeof data !== 'object') data = {title: data};
  if (data.classname)
    i.fa.fa-question-circle.not-mobile.near-header(class=data.classname, title=data.title)
  else
    i.fa.fa-question-circle.not-mobile.near-header.tt(title=data.title)

mixin separator()
  div.g-hr.no-select
    span.g-hr-h
      i.fa.fa-chevron-down
