extends ../layouts/default.jade

block postHead
  script(src='/PageControllers/bonds.js' defer)
  //- script(type="text/javascript", src="/Components/MyTable.js" defer)
  script(type="text/javascript", src="/Components/Learning.js" defer)

  //- link(rel="stylesheet", href="/css/MyTable.css")

  style.
    h1 .roundIcon {
      font-size: 14px;
      margin-left: 10px;
      cursor: pointer;
      }
    


    #calculator h4 {
      line-height: 30px;
      }
      #calculator h4 span {margin-left: 10px; line-height: 30px; vertical-align: middle;}
      #calculator h4 .calcPrice {
        width: 80px;
        display: inline-block;
        line-height: 20px;
        height: 30px;
        padding: 0px 7px;
        text-align: center;
        margin-left: 10px;
        vertical-align: middle;
        font-size: 21px;
        }
      #calculator table { width: 100%}
      #calculator table tr:not(:last-child) {
        line-height: 30px;
        vertical-align: middle;
        }
        #calculator table tr:not(:last-child) {
          border-bottom: 1px solid rgba(0,0,0,0.1);
          }
        #calculator table tr td {
          padding: 3px 10px 3px 0px;
          }
        #calculator table tr td:first-child {
          color: #555;
          }
        #calculator table tr td:last-child {
          color: #000;
          font-weight: 100;
          }
        #calculator table .comment {
          color: #bbb;
          padding-left: 10px;
          }



block pageHead
  h1 Облигации
    span(
      class='tt'
      title='Показать справку'
      )
      +roundIcon('fa-question showHelp')
block pageHead_small
block breadcrumbs
  +breadcrumbs([
      {name:'Главная', href:'/'},
      {name:'Сервисы', href:'/services'},
      {name:'Облигации'}
    ])

block content
  .height-transition.no-select
    div#bonds
      #bonds-table

block afterAll
  #calculator.white-popup
    h3(
      v-text='bond.name'
      )
    h4 Цена покупки:
      input.calcPrice(
        type='text'
        v-el='bid'
        v-model='bid'
        )
      span %
    table
      tr
        td Номинал: 
        td
          span(v-text='bond.rate')
          span  руб.
      tr
        td Купон: 
        td 
          span(v-text='bond.cpVal')
          span.comment
            span  (
            span(v-text='toFixed(bond.cpYie * 100, 2)')
            span %)
      tr
        td Периодичность купона: 
        td 
          span(v-text='bond.cpDur')
      tr
        td Ближайший купон: 
        td 
          span(v-text='bond.cpDate')
      tr
        td НКД: 
        td 
          span(v-text='toFixed(bond.nkd, 2)')
      tr
        td Погашение: 
        td 
          span(v-text='bond.endDate ')
          span.comment
            span  (
            span(v-text='bond.expiresIn')
            span  дней)
      tr
        td Цена покупки: 
        td 
          span(v-text='bond.bid ')
          span %
          span.comment
            span  (
            span(v-text='toFixed(bond.price, 0)')
            span  руб.)
      tr
        td Доходность: 
        td 
          span(v-text='toFixed(percent, 2)')
          span %
      tr
        td Доходность
          .comment (без налога покупка/погашение): 
        td 
          span(v-text='toFixed(percent_woRT, 2)')
          span %
      tr
        td Доходность
          .comment (без всех налогов): 
        td 
          span(v-text='toFixed(percent_woRTCT, 2)')
          span %
